# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
CONTACT_EMAIL=contact@theeyeinformatique.cm

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/the-eye-informatique

BLOB_STORE_ID=your_blob_store_id_here
BLOB_WEBHOOK_PUBLIC_KEY=your_blob_webhook_public_key_here

# Upstash Redis
KV_REST_API_READ_ONLY_TOKEN=""
KV_REST_API_TOKEN=""
KV_REST_API_URL=""
KV_URL=""
REDIS_URL=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
CLERK_SECRET_KEY=sk_test_your_secret_key_here
CLERK_WEBHOOK_SECRET=whsec_your_webhook_secret_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Resend
RESEND_API_KEY=re_your_resend_api_key_here
RESEND_FROM_EMAIL=The Eye Informatique <onboarding@resend.dev>

# Payunit
PAYUNIT_API_KEY=your_payunit_api_key_here
PAYUNIT_API_USERNAME=your_payunit_api_username_here
PAYUNIT_API_PASSWORD=your_payunit_api_password_here
PAYUNIT_MODE=test

# Arcjet
ARCJET_KEY=your_arcjet_key_here

# Inngest
INNGEST_EVENT_KEY=your_inngest_event_key_here
INNGEST_SIGNING_KEY=your_inngest_signing_key_here
INNGEST_DEV=http://localhost:8288

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id_here
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-03-09

# AI SDK
GOOGLE_GENERATIVE_AI_API_KEY=your_google_generative_ai_api_key_here